.table-header .table-cell {
    background-color: rgb(71, 18, 115);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
}

.table-row {
    background-color: rgb(226, 191, 255);
    white-space: nowrap;
}

.table-row:hover {
    background-color: rgb(208, 157, 250);
}

.submissionForm div {
    padding-bottom: 5px;
}

#warning {
    color: red;
    font-size: 40px;
    float: right;
}